body{
	background-color: rgb(192, 136, 52);
}

ul {
    list-style-type: none;
}

input {
    width: 100px;
}

#burger_pic{
    width: 30%;
    height: 30%;
}

h1{
	text-align: center;
}

#burger_page_field{
    background-color: rgb(192, 136, 52);
}
